.cover {
    position: relative;
  }
  .cover {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .myimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .8s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .8s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .cover:hover .myimage {
    opacity: 0.3;
  }
  
  .cover:hover .middle {
    opacity: 1;
  }
  
  .mytext {
    background-color: #B7292D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .mycolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .cover {
      width: 100%;
      display: block;
    }
  }